<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>

  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Hospital Management</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url  'patient:yourAppointments' %}">Your Appointment's</a></li>
          <li><a href="{% url  'patient:invoicePrescription' %}">Invoice & Presicription</a></li>
          <li><a href="{% url  'patient:medicalHistory' %}">Medical History</a></li>
          <li><a href="{% url  'patient:profile' %}">Profile</a></li>
          <li><a href="{% url  'users:logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}

  {% endblock body %}

</body>
</html>
